//
//  LocalEnvironment.xcconfig
//  funnelmink
//
//  Created by Jared Warren on 11/27/23.
//  Copyright © 2023 FunnelMink, LLC. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = funnelmink
BUNDLE_ID = com.funnelmink.crm.dev
TEAM_ID =
KOTLIN_FRAMEWORK_BUILD_TYPE = debug
